# React
frontend/node_modules/
frontend/build/
frontend/.env

# Spring Boot
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# IDE
.idea/
.vscode/
.env

# OS
.DS_Store

# Ignore Spring Boot application properties
backend/issue.prioritization/src/main/resources/application.properties
**/application.properties

# AI Agent
ai-agent/.env
ai-agent/__pycache__/
ai-agent/venv/

# Logs
*.log
