# React
frontend/node_modules/
frontend/build/
frontend/.env

# Spring Boot
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Ignore Spring Boot application properties (DISABLED FOR NOW)
# backend/issue.prioritization/src/main/resources/application.properties
application.properties

# Ignore private_repo_debug.log
# private_repo_debug.log
